<script src="{{ "js/explainnotes.js" | relURL }}" defer></script>
<span id="explainnotes-placeholder"></span>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (window.matchMedia("(any-hover: hover)").matches) {
      document.getElementById("explainnotes-placeholder").innerHTML = 
        '<i><small><font color="fuchsia">(Move mouse over image to show notes, mouse off image to restore original image.)</font></small></i><br>';
    } else {
      document.getElementById("explainnotes-placeholder").innerHTML = 
        '<i><small><font color="fuchsia">(Tap image to show notes and tap away from image to restore original image. Pinch-zoom out to enlarge image.)</font></small></i><br>';
    }
  });
</script>
