<div id="small-screen-warning">
    <hr>
    <i><small>Since the images in this blog are relatively large and contain a lot of detail, 
    if you are using a phone or a small tablet, you might want to consider returning 
    sometime when you can use a computer with its larger screen..</small></i>
    <hr>
  </div>
  
  <style>
    #small-screen-warning {
      display: none; /* Hide by default */
      text-align: center;
    }
    @media (max-width: 1024px) and (pointer: coarse) {
      #small-screen-warning {
        display: block; /* Show only on small touchscreen devices */
      }
    }
  </style>
  