{{- $alt := .Get "alt" -}}
{{- $img := .Get "img" -}}
{{- $mouseover := .Get "mouseover" -}}
{{- $title := .Get "title" -}}
{{- $fsbutton := .Get "fsbutton" -}}

{{- $titleParts := split $title "|" -}}
{{- $titleBefore := index $titleParts 0 | default "" -}}
{{- $titleAfter := index $titleParts 1 | default "" -}}

{{- $marginBottom := "" -}}
{{- if $fsbutton -}}
    {{- $marginBottom = "margin-bottom: 5px;" -}}
{{- end -}}

{{- if and $mouseover $fsbutton -}}
    {{ errorf "image_hover shortcode cannot have both mouseover and fsbutton parameters." }}
{{- end -}}

<div style="text-align: left; display: inline-block;">
    <strong style="margin: 0; padding: 0; display: inline;">{{- $titleBefore -}}</strong>&nbsp;&nbsp;
    <span style="margin: 0; padding: 0;">{{- $titleAfter -}}</span>

    {{- if $mouseover -}}
    <img src="{{ $img }}" alt="{{ $alt }}" 
        onmouseover="this.src='{{ $mouseover }}'" 
        onmouseout="this.src='{{ $img }}'" 
        style="cursor: pointer; max-width: 100%; height: auto; display: block; margin: 0; {{ if $fsbutton }}margin-bottom: 5px;{{ end }}" />
    {{- else -}}
    <img src="{{ $img }}" alt="{{ $alt }}" 
        style="cursor: pointer; max-width: 100%; height: auto; display: block; margin: 0; {{ if $fsbutton }}margin-bottom: 5px;{{ end }}" />
    {{- end -}}

    {{- if $mouseover -}}
    <div style="margin: 0; padding: 0; font-size: 0.9em; color: fuchsia;">
        <i>
            <small>
                <script>
                    document.write(window.matchMedia("(hover: hover)").matches 
                        ? "(Move mouse over image to show notes, mouse off image to restore original image.)"
                        : "(Tap image to show notes and tap away from image to restore original image. Pinch-zoom out to enlarge image.)");
                </script>
            </small>
        </i>
    </div>
    {{- end -}}
</div>

{{- if $fsbutton -}}
<div style="text-align: center; margin-top: 5px;">
    {{- if not (.Page.Scratch.Get "fullscreenbutton_loaded") -}}
    <script src="{{ "js/viewImageFullscreen.js" | relURL }}"></script>{{ .Page.Scratch.Set "fullscreenbutton_loaded" true }}
    {{- end -}}
    <button onclick="viewImageFullscreen('{{ $img }}')" 
        onmouseover="this.style.background='#6c757d'; this.style.color='#fff';" 
        onmouseout="this.style.background='#f0f0f0'; this.style.color='#212529';"
        style="color: black; font-size: .9em; font-style: italic; background-color: #F0F0F0; border: 2px solid #DB8B98; border-radius: 10px; padding: 10px 20px; cursor: pointer;">
        Click here to display image in full screen mode. (Not recommended on phone or small tablet.)
    </button>
</div>
{{- end -}}
